@media only screen and (max-width: 1440px) {
    
}

@media only screen and (max-width: 1280px) {
    .cta {
        padding: 4.5rem 0 4rem;
    }
    
    .catalogue {
        padding: 4.5rem 0 3rem;
    }

    .new-arrival {
        padding: 3rem 0 5rem;
    }

    .new-arrival .container {
        max-width: 90%;
    }

    .new-arrival .d-lg-flex {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 30px;
    }

    .new-arrival .me-lg-4 {
        margin-right: 0rem !important;
        margin-bottom: 3rem !important;
    }

    .new-arrival-card {
        width: 300px;
    }

    .how-we-work {
        padding: 1.5rem 0 7rem;
    }
    
    .testimonial {
        padding: 5rem 4rem 3.7rem;
    }

    .child {
        margin: 1px 23px;
    }

    .faq {
        padding: 5rem 0 13rem;
    }
}

@media only screen and (max-width: 1240px) {


}

@media only screen and (max-width: 1200px) {

}
    
@media only screen and (max-width: 1164px) {
    .new-arrival {
        padding: 3rem 0;
    }
}

@media only screen and (max-width: 1024px) {
    .home {
        height: 90vh;
    }

    .banner-column {
        margin: 5rem auto;
    }

    .paragraph {
        text-wrap: pretty;
    }

    .work-step {
        padding: 4rem 0 0rem;
    }

    .work-step > div {
        flex-wrap: wrap;
        gap: 65px;
        justify-content: center;
    }

    .testimonial {
        padding: 6rem 3rem;
    }

    .cover {
        margin-top: 35px;
    }

    .faq {
        padding: 5rem 0 10rem;
    }

    .footer .widget_wrapper {
        padding: 13rem 0 1rem;
    }

    .scroll-images {
        overflow: auto;
    }
}

@media only screen and (max-width: 995px) {
    .faq {
        padding: 4rem 0 10rem;
    }
}

@media (max-width:990px) {
    .container{
        max-width: 100%;
    }   

    .catalogue .carousel {
        gap: 30px;
    }

    .carousel-container {
        margin: 0 20px;
    }

    .quick-contact .cta_wrapper .cta_content h3 {
        margin-bottom: 1.1rem;
    }

    .quick-contact .cta_wrapper .cta_content h3:after {
        content: none;
    }

    .quick-contact .cta_wrapper .button_box {
        float: none;
        text-align: left;
    }
}

@media only screen and (max-width: 971px) {
    .quick-contact {
        margin-top: -117px;
    }
}

@media only screen and (max-width: 768px) {
    .brand {
        font-size: 1.5rem;
        margin-top: 4px;
    }

    .featurette-heading {
        font-weight: 500;
    }

    .cta .row {
        flex-direction: column-reverse;
        gap: 35px;
    }

    .cta-img {
        height: auto;
        width: auto;
    }

    .new-arrival {
        padding: 2rem 0;
    }

    .how-we-work .card {
        margin-right: auto;
        margin-left: auto;
    }

    .testimonial {
        padding: 4.5rem 3rem;
    }

    .accordion-section {
        margin-top: 2rem;
    }

}

@media (max-width: 767px) {
    .footer .widget_wrapper .widget {
        margin-bottom: 40px;
    }

    .quick-contact .cta_wrapper .cta_content h3 {
        font-size: 24px;
    }

    .quick-contact .cta_wrapper .button_box {
        float: none;
        text-align: left;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 630px) {
    .catalogue {
        padding: 4rem 0 2rem;
    }
    
    .carousel-section {
        padding: 2rem 0;
    }

    .testimonial {
        padding: 4rem 3rem;
    }

    .faq {
        padding: 3rem 0 10rem;
    }
}

@media only screen and (max-width: 560px) {
    .quick-contact {
        margin-top: -129px;
    } 
}

@media only screen and (max-width: 542px) {
    .banner-column {
        margin: 2rem auto;
    }

    .cta {
        padding: 4rem 0 2.5rem;
    }
}  

@media (max-width:536px) {
    .quick-contact {
        margin-top: -143px;
    }
}

@media (max-width:500px) {
    .how-we-work {
        padding: 25px;
    }

    .card {
        width: 100%;
    }

    .featurette-heading {
        font-weight: 400;
        font-size: 1.1rem;
    }

    .faq {
        padding: 2.5rem 0 10rem;
    }

}



@media only screen and (max-width: 460px) {
    .testimonial {
        padding: 3.5rem 20px 4rem;
    }
    
    .cover {
        padding: 0px 35px;
        margin-top: 0px;
    }
    
    .child {
        min-width: 290px;
        height: 270px;
        padding: 0px 15px;
        margin: 1px 15px;
    }

    .quick-contact {
        margin-top: -122px;
    }

    .quick-contact .cta_wrapper {
        padding: 35px;
        margin-bottom: -12rem;
    }

    .quick-contact p {
        margin-bottom: 0;
    }

    .quick-contact .cta_wrapper .cta_content h3 {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 395px) {
    .home h1 {
        font-size: 2.2rem;
    }
}

@media only screen and (max-width: 360px) {
    .cta {
        padding: 3rem 0 1rem;
    }

    .catalogue {
        padding: 3.5rem 0 0rem;
    }

    .new-arrival {
        padding: 1rem 0 3rem;
    }

    .how-we-work {
        padding: 0;
    }

    .testimonial {
        padding: 3rem 9px 2rem;
    }
}

@media only screen and (max-width: 332px) {
    .quick-contact {
        margin-top: -146px;
    }
}



